.toggle-button {
  width: 70px;
  height: 25px;
}

.toggle-input {
  display: none;
}

.toggle-input:checked + .toggle-label {
  background-color: var(--main-color-yellow);
}

.toggle-input:checked + .toggle-label:after {
  left: 20px;
  content: "";
}

.toggle-label {
  width: 45px;
  height: 25px;
  background-color: var(--main-color-charcoal);
  position: relative;
  display: inline-block;
  border-radius: 46px;
  transition: 0.4s;
  box-sizing: border-box;
}

.toggle-label:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  left: -1px;
  top: -1px;
  background-color: var(--main-color-yellow);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .toggle-button {
    width: 70px;
    height: 25px;
  }

  .toggle-input:checked + .toggle-label:after {
    left: 15px;
  }

  .toggle-label {
    width: 35px;
    height: 20px;
  }

  .toggle-label:after {
    width: 22px;
    height: 22px;
  }
}
