.toggle-button {
  width: 45px;
  height: 20px;
}

.toggle-input {
  display: none;
}

.toggle-input:checked + .toggle-label {
  background-color: var(--main-color-beige);
}

.toggle-input:checked + .toggle-label:after {
  left: 17px;
  content: "";
}

.toggle-label {
  width: 40px;
  height: 20px;
  background-color: var(--main-color-charcoal);
  position: relative;
  display: inline-block;
  border-radius: 46px;
  transition: 0.4s;
  box-sizing: border-box;
}

.toggle-label:after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  left: -1px;
  top: -1px;
  background-color: var(--main-color-yellow);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .toggle-button {
    width: 35px;
    height: 18px;
  }

  .toggle-input:checked + .toggle-label:after {
    left: 10px;
  }

  .toggle-label {
    width: 27px;
    height: 15px;
    margin-bottom: 5px;
  }

  .toggle-label:after {
    width: 17px;
    height: 17px;
  }
}
