.resume-button {
  margin: 10px 0px;
}

.normal {
  width: 130px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
}

.small {
  width: 60px;
  height: 28px;
  font-size: 14px;
  line-height: 29px;
}

.large {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  height: 40px;
  font-size: var(--font-size-sm);
  line-height: 38px;
}

.resume-link {
  display: block;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}

.resume-link-light {
  border: 2px solid var(--main-color-charcoal);
  color: var(--main-color-charcoal);
}

.resume-link-dark {
  border: 2px solid white;
  color: white;
}

.resume-link .resume-title {
  position: relative;
  z-index: 2;
}

.resume-link:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.35s;
}

.resume-link-light:after {
  background: var(--main-color-charcoal);
}

.resume-link-dark:after {
  background: white;
}

.resume-link-light:hover {
  color: var(--main-color-beige);
}

.resume-link-dark:hover {
  color: var(--dark-bg-color);
}

.resume-link:hover:after {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .resume-link {
    width: 70px;
    height: 25px;
    line-height: 27px;
    font-size: 13px;
    letter-spacing: 1px;
  }

  .resume-link .resume-title {
    position: relative;
    z-index: 2;
  }

  .normal {
    width: 70px;
    height: 25px;
    line-height: 27px;
    font-size: 13px;
    letter-spacing: 1px;
  }

  .small {
    width: 50px;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
  }

  .large {
    width: 80%;
    height: 30px;
    font-size: var(--font-size-ty);
    line-height: 30px;
  }
}
