.slide-page {
  display: none;
}

@media screen and (max-width: 767px) {
  .slide-page {
    display: initial;
    width: 45%;
    height: 320px;
    position: fixed;
    right: -100%;
    transition: 0.3s ease-in-out;
    box-shadow: -0.2px 2px 3px var(--shadow-gray);
    z-index: 2;
  }

  .dark-slide-page{
    background-color: var(--dark-bg-color);
  }

  .light-slide-page{
    background-color: var(--main-color-beige);
  }

  .slide-page.open{
    right: 0;
    position: absolute;
    transition: 0.3s ease-in-out;
  }

  .items-ul {
    padding: 30px 0;
    text-align: center;
  }

  .items-list {
    margin: 20px 0;
  }

  .items-list:hover {
    text-decoration-color: var(--main-color-yellow);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-style: dashed;
    cursor: pointer;
  }
}
