.work {
  height: auto;
  padding: 30px 10%;
  min-height: 200vh;
  background-color: var(--main-color-beige);
}

.title{
  font-size: var(--font-size-md-title);
  color: var(--main-color-charcoal);
  margin-bottom: 60px;
}

.project-ul{
flex-direction: column;
}

.project-list{
  margin: 20px 0;
  display: flex;
  height: 330px;
}

.project-list:nth-child(even){
  flex-direction: row-reverse;
}

.project-img-box{
  width: 50%;
  box-sizing: border-box;
}

.project-description-box{
  padding-left: 30px;
  width: 50%;
  box-sizing: border-box;
}

.project-language{
  font-size: var(--font-size-md);
  margin-bottom: 15px;
}

.project-title{
  font-size: var(--font-size-sm-title);
  color: var(--main-color-charcoal);
  margin-bottom: 15px;
}

.project-description{
  margin-bottom: 15px;
}

.project-link{
  margin-right: 10px;
}
