.header {
  min-height: 100vh;
  max-width: var(--max-width-first);
  margin-right: auto;
  margin-left: auto;
  padding: 0px 10%;
}

.nav-bar {
  font-size: var(--font-size-sm);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--main-color-gray);
  align-items: center;
}

.nav-right {
  align-items: center;
  display: flex;
}

.ul-flex {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}

.w-sh {
  width: 300px;
}

.w-lo {
  width: 350px;
}

.logo {
  width: 50px;
  height: 50px;
  mix-blend-mode: multiply;
}

li {
  list-style: none;
  font-size: var(--font-size-sm);
}

.header-list {
}

.header-list:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--main-color-yellow);
  text-decoration-style: dashed;
  cursor: pointer;
}

.greeting-container {
  height: 90vh;
  display: flex;
  margin: 0 auto;
  justify-content: left;
  align-items: center;
}

.greeting {
  height: 400px;
  width: 100%;
  padding: 0 20px;
}

.greeting-title {
  font-size: var(--font-size-large-title);
}

.animating-container {
  display: grid;
  place-items: center;
  text-align: center;
}

.title-word {
  animation: color-animation 4.5s linear infinite;
}

.title-word-1 {
  --color-1: #a1bba2;
  --color-2: #d8bb41;
  --color-3: #bacdd1;
}

.title-word-2 {
  --color-1: #c0a9bd;
  --color-2: #f1c064;
  --color-3: #c5c56a;
}

.title-word-3 {
  --color-1: #e4af9b;
  --color-2: #b7d4be;
  --color-3: #e6c2bf;
}

.title-word-4 {
  --color-1: #529bba;
  --color-2: #f6bfbc;
  --color-3: #f6ad49;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

.greeting-description {
  font-size: var(--font-size-lg);
  padding-top: 30px;
}

.gif-container {
  width: 100%;
  text-align: end;
}

.gif {
  width: 250px;
}

@media (prefers-reduced-motion: no-preference) {
  .flower {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 1100px) and (max-width: 1400px) {
  .header {
    max-width: var(--max-width-second);
  }
}

@media screen and (min-width: 768px) and (max-width: 1099px) {
  .header {
    max-width: var(--max-width-third);
    padding: 0px 20px;
  }

  .gif-container {
    width: 100%;
    text-align: end;
  }

  .gif {
    width: 200px;
  }
}

@media screen and (min-width: 601px) and (max-width: 767px) {
  .header {
    max-width: 100%;
    padding: 0px 20px;
  }

  .nav-bar {
    height: 50px;
  }

  .nav-right {
    display: initial;
    width: 50px;
  }

  .w-sh {
    width: 230px;
  }

  .w-lo {
    display: none;
  }

  .greeting-container {
    height: 90vh;
    display: flex;
    margin: 0 auto;
    justify-content: left;
    align-items: center;
  }

  .greeting {
    height: 400px;
    width: 100%;
    padding: 0 20px;
  }

  .greeting-title {
    font-size: var(--font-size-mid-title);
  }

  .greeting-description {
    font-size: var(--font-size-md);
    padding-top: 30px;
    text-align: left;
  }

  .gif-container {
    width: 100%;
    text-align: end;
  }

  .gif {
    width: 200px;
    text-align: end;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 0px 20px;
    max-width: initial;
  }

  .logo {
    width: 40px;
  }

  .name {
    font-size: var(--font-size-ty);
  }

  .nav-bar {
    height: 50px;
  }

  .nav-right {
    align-items: center;
    display: initial;
    width: 50px;
    align-items: center;
  }

  .w-sh {
    width: 200px;
  }

  .w-lo {
    display: none;
  }

  .greeting-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .greeting {
    height: 300px;
  }

  .greeting-title {
    font-size: var(--font-size-sm-title);
    text-align: center;
  }

  .greeting-description {
    font-size: var(--font-size-sm);
    text-align: center;
  }

  .mobile-centre {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .gif {
    width: 90px;
  }
}
