.header {
  min-height: 100vh;
  background-color: var(--main-color-beige);
  padding: 5px 10%;
}

.nav-bar {
  font-size: var(--font-size-sm);
  display: flex;
  justify-content: space-between;
}

.nav-left {
  margin-right: auto;
}

.nav-right {
}

ul {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.logo {
  width: 50px;
  mix-blend-mode: multiply;
}

li {
  list-style: none;
  font-size: var(--font-size-sm);
}

a {
  color: var(--main-color-charcoal);
  align-items: center;
}

.greeting-container {
  min-height: 100vh;
}

.flower {
  position: relative;
  height: 60vmin;
  margin-top: 10vmin;
  filter: hue-rotate(165deg) saturate(2000%) grayscale(50%);
}

@media (prefers-reduced-motion: no-preference) {
  .flower {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.greeting {
  color: var(--main-color-charcoal);
  font-size: 60px;
  position: absolute;
  top: 30%;
  left: 30%;
}
