.contact {
  padding: 30px 10%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  font-size: var(--font-size-md-title);
  text-align: initial;
  margin-top: 30px;
}

.contact-flex {
  height: 400px;
  padding: 60px 100px;
  display: grid;
  grid-template-columns: 10% 40% 50%;
  border-bottom: 1px solid var(--main-color-gray);
  margin-bottom: 20px;
  justify-content: space-between;
}

.contact-title {
  font-size: var(--font-size-lg);
  margin: 15px 0;
}

.contact-gif {
  width: 200px;
  padding-top: 220px;
}

.contact-form {
  text-align: center;
}

.contact-form-container {
  height: 400px;
  background-color: var(--main-color-mocha);
}

.contact-input {
  margin: 20px 0;
  width: 80%;
  height: 40px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid var(--main-color-gray);
}

.contact-message {
  height: 100px;
}

.contact-button {
  width: 80%;
  height: 40px;
  margin: 20px;
  font-size: var(--font-size-sm);
  background-color: var(--message-button);
  color: var(--main-color-mocha);
  border: none;
  letter-spacing: 1.5px;
  font-weight: 400;
}

.contact-button:hover {
  cursor: pointer;
  background-color: var(--main-color-charcoal);
  transition: 0.3s;
}

@media screen and (min-width: 601px) and (max-width: 930px) {
  .contact {
    padding: 30px 10px;
    font-size: var(--font-size-ty);
  }

  .title {
    font-size: var(--font-size-sm-title);
    text-align: left;
    padding-left: 20px;
  }

  .contact-flex {
    padding: 60px 50px;
    display: grid;
  }

  .contact-title {
    font-size: var(--font-size-md);
  }

  .contact-info {
    text-align: left;
  }

  .contact-gif {
    width: 150px;
    padding-top: 280px;
  }
}

@media screen and (max-width: 600px) {
  .contact {
    padding: 30px 20px;
    text-align: center;
    font-size: var(--font-size-ty);
  }

  .title {
    font-size: var(--font-size-ty-title);
    text-align: center;
    margin-top: 30px;
  }

  .contact-flex {
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    grid-template-columns: none;
    border-bottom: 1px solid var(--main-color-gray);
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .contact-detail {
    display: grid;
    justify-items: center;
    margin-bottom: 20px;
  }

  .contact-title {
    font-size: var(--font-size-sm);
    margin: 15px 0;
  }

  .contact-gif {
    display: none;
  }

  .icon-box {
    padding: 0 40%;
  }

  .contact-form {
    margin: 30px 0;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .contact-form-container {
    height: 400px;
    width: 80%;
    background-color: var(--main-color-mocha);
  }

  .contact-input {
    margin: 20px 0;
    height: 30px;
  }

  .contact-message {
    height: 100px;
  }

  .contact-button {
    width: 80%;
    height: 30px;
    margin: 20px;
    font-size: var(--font-size-ty);
  }
}
