.profile {
  min-height: 100vh;
  max-width: var(--max-width-first);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.container {
  display: grid;
  display: flex;
}

.image {
  width: 50%;
  display: table-cell;
  text-align: center;
}

.profile-light {
  box-shadow: -20px 20px 3px var(--main-color-yellow);
}

.profile-dark {
  box-shadow: 0 0 20px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 10px rgb(231, 216, 165), 0 0 60px rgb(228, 224, 192);
}

.profile-text {
  display: table-cell;
  width: 50%;
  padding-right: 40px;
}

.title {
  font-size: var(--font-size-md-title);
  text-align: initial;
  margin-bottom: 30px;
}

.title-name-dark {
  animation: flickering 5s infinite;
  text-shadow: 0 0 1px #fff, 0 0 20px rgb(201, 204, 0), 0 0 10px rgb(204, 201, 0), 0 0 10px rgb(255, 217, 0), 0 0 60px rgb(179, 255, 0);
}

@keyframes flickering {
  0% {
    border-color: transparent;
    opacity: 0.2;
  }

  2% {
    opacity: 1;
  }

  4% {
    border-color: transparent;
    opacity: 0.2;
  }

  8% {
    opacity: 1;
  }

  28% {
    opacity: 1;
  }

  30% {
    opacity: 0.2;
  }

  36% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.profile-description {
  font-size: var(--font-size-sm);
  text-align: left;
  line-height: 1.5em;
}

@media screen and (min-width: 767px) and (max-width: 930px) {
  .profile-light {
    width: 80%;
    box-shadow: -20px 20px 3px var(--main-color-yellow);
  }

  .profile-dark{
    width: 80%;
  }

  .container {
    padding: 0 20px;
  }

  .title {
    font-size: var(--font-size-sm-title);
  }

  .profile-description {
    font-size: var(--font-size-ty);
  }
}

@media screen and (max-width: 766px) {
  .profile {
    height: auto;
    text-align: center;
  }

  .container {
    display: initial;
    padding: 0 20px;
  }

  .image {
    width: 100%;
    display: initial;
  }

  .profile-light {
    margin-bottom: 20px;
    width: 200px;
    height: auto;
    box-shadow: -20px 20px 3px var(--main-color-yellow);
  }

  .profile-dark{
    margin-bottom: 20px;
    width: 70%;
  }

  .profile-text {
    display: initial;
    width: 100%;
  }

  .profile-mobile {
    display: flex;
    justify-content: center;
  }

  .title {
    font-size: var(--font-size-sm-title);
    text-align: center;
  }

  .profile-description {
    font-size: var(--font-size-ty);
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: var(--font-size-ty-title);
    margin-top: 20px;
  }

  .profile-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
