* {
  margin: 0;
  padding: 0;
  /* border: 1px red solid; */
}

:root {
  --main-color-yellow: #ffd25b;
  --main-color-beige: #f8f8ee;
  --main-color-mocha: #fffefb;
  --main-color-charcoal: #503e17;
  --main-color-gray: #959ca7;
  --font-size-large-title: 70px;
  --font-size-md-title: 60px;
  --font-size-sm-title: 40px;
  --font-size-lg: 25px;
  --font-size-md: 20px;
  --font-size-sm: 16px;

  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
  background-color: var(--main-color-beige);
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
}
